$screenDesktopStart: 1024px;
$screenDesktopEnd: 1439px;
$screenDesktopSecondaryStart: 1440px;
$screenMobileEnd: 1023px;
$screenMobileStart: 320px;
$screenDesktopLargeStart: 1900px;

$contentMaxWidth: 1376px;

$colorGreen: green;